<!doctype html>
<html>
  <head>
    
  
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
    <title>{% block title %}{% endblock %}</title>

  </head>
  <body>
    
  <nav>
    <div class="nav-wrapper mb-3" >
      <a href="/" class="brand-logo">Patient-Doctor</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{link_1}}">{{link_1name}}</a></li>
        <li><a href="{{link_2}}">{{link_2name}}</a></li>
        <li><a href="{{link_3}}">{{link_3name}}</a></li>
      </ul>
    </div>
  </nav>

    <main>
        <!--{% block main%}-->
             <div class="container">
                <div class="ro">
                    <div class="col">
                        <h1>{{name}}</h1>
                        <hr>
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        <!--{%endblock%} -->
    </main>
     

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>