{% extends "front_layout/front_layout.html" %}
{% block title %}| Login{% endblock %}


{% block content %}

<div class="container-fluid bg">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <!--form start-->   
            <form class="form-container"  action="login" method="POST">
                {{ login.csrf_token }}
                <h1>Log In</h1>
                <div class="form-group">
                    {{ login.username.label }}
                    {{ login.username(size=20, class_="form-control") }}                  
                </div>
                <div class="form-group">
                    {{ login.password.label }}
                    {{ login.password(size=20, class_="form-control") }}
                </div>
                <div class="checkbox">
                    {{ login.remember_me() }}
                    {{ login.remember_me.label }}
                </div>
                    {{ login.submit(class_="btn btn-success btn-block") }}
                   
            </form>  
            <!--form end-->
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
</div>

       
  
{% endblock %}


  
   
   