{% extends "users_layout/users_layout.html" %}
{% block title %}| {{title}} {% endblock %}

{% block sub_contente %}
    <!--
     <table>
        <thead>
            <tr>
                <th>PatientName</th>
                <th>PatientId</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        {% for record in records%}
            <tr>
                <td>{{record.name}}</td>
                <td>{{record.id}}</td>
                <td>{{record.date}}</td>
            </tr>
        {%endfor%}
        </tbody>
    </table>
   -->
{% endblock %}

{% block sub_content %}
    <br>
    <h2 id=tables-striped>Patient-Doc Medical Institutions</h2> 
    
        
    <div class="bs-callout bs-callout-danger" id=callout-tables-striped-ie8> 
        <p>List of Medical Institutions currently registered under Patient-Doc:</p> 
    </div> 
    
    <br>
    
    <div class=bs-example data-example-id=striped-table> 

            <table class="table table-striped"> 
                <thead> 
                    <tr> 
                        <th>#</th>
                        <th>Name</th> 
                        <th>Address</th> 
                        <th>Contact</th> 
                    </tr> 
                </thead> 
                <tbody> 
                    <tr> 
                        <th scope=row>1</th> 
                        <td>University of CapeTown</td> 
                        <td>Africa</td> 
                        <td>1-868-324-2342</td> 
                    </tr> 
                    <tr> 
                        <th scope=row>2</th> 
                        <td>Witwatersrand</td> 
                        <td>Asia</td> 
                        <td>1-868-324-2342</td> 
                    </tr> 
                    <tr> <th scope=row>3</th> <td>Stellenbosch University</td> <td>North Carolina</td> <td>1-868-324-2342</td> </tr>
                    <tr> <th scope=row>4</th> <td>KwaZulu-Natal</td> <td>Haiti</td> <td>1-868-324-2342</td> </tr> 
                    <tr> <th scope=row>5</th> <td>University of Pretoria</td> <td>Nea Zealand</td> <td>1-868-324-2342</td> </tr> 
                    <tr> <th scope=row>6</th> <td>Northwest </td> <td>England</td> <td>1-868-324-2342</td> </tr> 
                    <tr> <th scope=row>7</th> <td>Sefako Makgatho</td> <td>Mexico</td> <td>1-868-324-2342</td> </tr> 
                    <tr> <th scope=row>8</th> <td>Free State</td> <td>Nigeria</td> <td>1-868-324-2342</td> </tr> 
                    <tr> <th scope=row>9</th> <td>Limpopo</td> <td>Wakanda</td> <td>1-868-324-2342</td> </tr> 
                    <tr> <th scope=row>10</th> <td>Johannesburg</td> <td>Iceland</td> <td>1-868-324-2342</td> </tr> 
                    <tr> <th scope=row>11</th> <td>Western Cape</td> <td>St Kitts</td> <td>1-868-324-2342</td> </tr> 
                    <tr> <th scope=row>12</th> <td>Nelson Mandela</td> <td>Jamaica</td> <td>1-868-324-2342</td> </tr> 
                </tbody> 
            </table> 
        </div> 

{% endblock %}
        
        
