{% extends "listing_layout/listing_layout.html" %}
{% block title %}| Medical Institutions {% endblock %}


{% block heading %}
Patient-Doc Medical Institutions
{% endblock %}

{% block sub_heading %}
List of Medical Institutions currently registered under Patient-Doc:
{% endblock %}

{% block table_headers %}
    <th>ID</th>
    <th>Name</th> 
    <th>Address</th> 
    <th>Contact Number</th> 
{% endblock %}


{% block table_body %}

    {% for med_institution in med_institutions %}
        <tr id="change"> 
            <th scope=row>{{med_institution.id}}</th> 
            <td>{{med_institution.name}} </td> 
            <td>{{med_institution.address}}</td>
            <td>{{med_institution.contact_no}} </td>
        </tr> 
    {% endfor %}
{% endblock %}


        
