{% extends "listing_layout/listing_layout.html" %}
{% block title %}| Releases {% endblock %}


{% block heading %}
Patient-Doc Medical Institutions
{% endblock %}

{% block sub_heading %}
List of Medical Institutions currently registered under Patient-Doc:
{% endblock %}

{% block table_headers %}
    <th>#</th>
    <th>Name</th> 
    <th>Address</th> 
    <th>Contact</th> 
{% endblock %}


{% block table_body %}
    <tr> 
        <th scope=row>1</th> 
        <td>University of CapeTown</td> 
        <td>Africa</td> 
        <td>1-868-324-2342</td> 
    </tr> 
    <tr> 
        <th scope=row>2</th> 
        <td>Witwatersrand</td> 
        <td>Asia</td> 
        <td>1-868-324-2342</td> 
    </tr> 
    <tr> <th scope=row>3</th> <td>Stellenbosch University</td> <td>North Carolina</td> <td>1-868-324-2342</td> </tr>
    <tr> <th scope=row>4</th> <td>KwaZulu-Natal</td> <td>Haiti</td> <td>1-868-324-2342</td> </tr> 
    <tr> <th scope=row>5</th> <td>University of Pretoria</td> <td>Nea Zealand</td> <td>1-868-324-2342</td> </tr> 
    <tr> <th scope=row>6</th> <td>Northwest </td> <td>England</td> <td>1-868-324-2342</td> </tr> 
    <tr> <th scope=row>7</th> <td>Sefako Makgatho</td> <td>Mexico</td> <td>1-868-324-2342</td> </tr> 
    <tr> <th scope=row>8</th> <td>Free State</td> <td>Nigeria</td> <td>1-868-324-2342</td> </tr> 
    <tr> <th scope=row>9</th> <td>Limpopo</td> <td>Wakanda</td> <td>1-868-324-2342</td> </tr> 
    <tr> <th scope=row>10</th> <td>Johannesburg</td> <td>Iceland</td> <td>1-868-324-2342</td> </tr> 
    <tr> <th scope=row>11</th> <td>Western Cape</td> <td>St Kitts</td> <td>1-868-324-2342</td> </tr> 
    <tr> <th scope=row>12</th> <td>Nelson Mandela</td> <td>Jamaica</td> <td>1-868-324-2342</td> </tr> 
{% endblock %}


        
