{% extends "listing_layout/listing_layout.html" %}
{% block title %}| Releases {% endblock %}


{% block heading %}
My Releases
{% endblock %}

{% block sub_heading %}
{% endblock %}

{% block table_headers %}
    <th>ID</th>
    <th>Date & Time</th> 
    <th>Patient's Name</th> 
    <th>Physician's Name</th> 
    <th>Action </th>
{% endblock %}


{% block table_body %}
    {%if release_forms%}
        {% for release in release_forms %}
        <tr id="change"> 
            <th scope=row>{{release.id}}</th> 
            <td>{{release.date.strftime("%d-%B-%Y %H:%M:%S")}}</td>
            <td><a href="/patients/{{release.patient.id}}"> {{release.patient.fname}} {{release.patient.lname}} </a></td> 
            <td><a href="/physicians/{{release.physician.id}}">{{release.physician.fname}} {{release.physician.lname}}</a></td>
            {%if current_user.type=='patient' %}
                <td><button type="button" onclick="removeReleases({{release.id}})">Remove</button></td>   
            {% endif %}       
        </tr>   
        {% endfor %}  
    {%endif%}
{% endblock %}


{% block js_internal %}
    
     function removeReleases(id){

        yes=confirm("Are you sure you want to remove access to your medical records from this doctor?")
        if (yes)
            location.href = `/release_forms/${id}?delete=True`;
    }
            
{% endblock %}
        

