{% extends "main_layout/main_layout.html" %}
{% block title %}| {{title}}{% endblock %}

{% block css_internal %}

    .card-img-top {
        width: 100%;
        height: 40vw;
        object-fit: cover;
    }
{% endblock %}


{% block content %}
    <!--- Meet the team -->
    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <h1 class="display-4">Building Progressive Solutions (BPS)</h1>
            </div>
            <hr>
        </div>    
    </div>
        

    <!--- Cards -->
    <div class="container-fluid padding">
        <div  class="row padding">
            <div  class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='img/jpg_png/Philmon.jpg') }} ">
                    <div class="card-body">
                        <h4 class="card-title">Philmon Roberts</h4>
                        <p class="card-text">Philmon is an programmer with almost 20 years of experience.</p>
                        <!-- <a href="#" class="btn btn-outline-secondary">See Profile</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='img/jpg_png/Bevan.jpeg') }}">
                    <div class="card-body">
                        <h4 class="card-title">Bevan Labadie</h4>
                        <p class="card-text">Bevan is a designer with almost 10 years of digital design experience</p>
                        <!-- <a href="#" class="btn btn-outline-secondary">See Profile</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='img/jpg_png/Shaquille.jpeg') }}">
                    <div class="card-body">
                        <h4 class="card-title">Shaquille JabaJon</h4>
                        <p class="card-text">Shaquille  is a developer with over 5 years of development experience.</p>
                        <!--  <a href="#" class="btn btn-outline-secondary">See Profile</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
	
{% endblock %}

