<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Patient-Doc {% block title %} {% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='img/jpg_png/logohead.png') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">     
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}"> 
    {% block css_external %}
    {% endblock %}

   
    
    <style>       
        {% block css_internal %}
        {% endblock %}
    </style>

</head>


<body>
    
    <div class="bootstrap-iso">
  <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='img/jpg_png/logo.png') }} "></a>
            {% if current_user.is_authenticated %}
                <span> Hi, {{current_user.fname}} </span>
            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>    
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                
                     <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>

                    {% if current_user.is_authenticated %}
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/profile">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/appointments">Appointments</a>
                        </li>

                        {% if current_user.type == 'physician' %}
                            <li class="nav-item">
                                <a class="nav-link" href="/my_patients">Patients</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                
                                <a class="nav-link" href="/patients/{{current_user.id}}/medical_record">Medical Record</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/my_physicians">Physicians</a>
                            </li>
                        {% endif %}

                        <li class="nav-item">
                           
                            <a class="nav-link" href="/release_forms">Releases</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    {% else %}  

                        <li class="nav-item">
                            <a class="nav-link" href="/physicians">All Physicians</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/med_institutions">Institutions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/signup">Sign Up</a>
                        </li>     

                    {% endif %}
                         
                </ul>
            </div>
        </div>
    </nav>

    </div>
    <main class="narrow">
        <div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'message' %}
                        <div class="alert alert-warning" role="alert">
                        {% else %}
                        <div class="alert alert-{{ category }}" role="alert">
                        {% endif %}
                        {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>


        {% block content %} 

        {% endblock %}
    </main>
     
    <!--- Footer -->
    <footer>
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename='img/jpg_png/footerlogo.png') }}">
                    <hr class="light">
                    <p>555-555-5555</p>
                    <p>email@myemail.com</p>
                    <p>100 Street Name</p>
                    <p>City, State, 00000</p>
                </div>
                <div class="col-md-4">
                    <hr class="light">
                    <h5>Our hours</h5>
                    <hr class="light">
                    <p>Monday: 9am - 5pm</p>
                    <p>Saturday: 10am - 4pm</p>
                    <p>Sunday: closed</p>
                </div>
                <div class="col-md-4">
                    <hr class="light">
                    <h5>Service Area</h5>
                    <hr class="light">
                    <p>City, State, 00000</p>
                    <p>City, State, 00000</p>
                    <p>City, State, 00000</p>
                    <p>City, State, 00000</p>
                    <p>City, State, 00000</p>
                </div>
                <div class="col-12">
                    <hr class="light-100">
                    <h5>&copy; patient-doc.com</h5>                
                </div>
            </div>    
        </div>    
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    {% block js_external %}        
    {% endblock %}

    <script>        
        {% block js_internal %}        
        {% endblock %}
    </script>
</body>
</html>


