{% extends "main_layout/main_layout.html" %}
{% block title %}| Medical Record {% endblock %}

{% block css_external%}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/template-iso.css') }} ">
{% endblock %}


{% block content %}
    <div class="template-iso">
        <div id="container">
            <div class="left-stripes">
                <div class="circle c-upper"></div>
                <div class="circle c-lower"></div>
            </div>
            
            {% if med_record%}
                <div class="right-invoice">
                    <section id="memo">  
                        <div class="logo">
                            <img src="{{ url_for('static', filename='img/jpg_png/patient.jpg') }} " alt="Patient Picture"/>
                        </div>
                    </section>

                    <section id="invoice-title-number">
                    
                        <div id="title">{{med_record.patient.fname}} {{med_record.patient.lname}}</div>

                        <div class="title-bottom">
                            <span id="number">Date of Birth: {{med_record.patient.date_of_birth.strftime("%d-%B-%Y") }}</span>
                        </div>
                
                    </section>

                    <section id="client-info">
                        <div class="client-name">
                            <span>Address</span>
                        </div>
                    
                        <div>
                            <span>{{med_record.patient.address}}</span>
                        </div>
                        
                        <div>
                            <span>{{med_record.patient.email}}</span>
                        </div>
                    
                        <div>
                            <span></span>
                        </div>
                    </section>
                
                    <div class="clearfix"></div>
                
                    <section id="invoice-info">
                        <div>
                            <span><p>Current problem: {{med_record.current_problem}}</p></span>
                        </div>
                        <div>
                            <span>Current Treatment: {{med_record.current_treatment}}</span>
                        </div>
                        <div>
                            <span>Medical history: {{med_record.history}}</span>
                        </div>
                    </section>
                
                    
                    <section id="terms">
                    
                        <span>Confidentiality information</span>
                        <div>
                            <p>This medical information cannot be edited, copied or redistributed without express consent from the patient.
                            Failure to do so can and shall result in legal action being taken against all parties involved.
                        </div>
                        
                    </section>

                </div>
            {%else %}
            {%endif%}
        </div>
    </div>

{% endblock %}

      